.grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  cursor: pointer;
}