.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-actions button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(192, 178, 185);
  color: rgb(0, 0, 0);
  border-radius: 10PX;

}
.card-actions{
  display: flex;
   gap: 20px;
}