.navbar {
  position: fixed;       /* reste en haut */
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;

  gap: 40px;
  padding: 15px;

  background-color: #fff;
  box-shadow: 0 2px 5px rgba(236, 17, 17, 0.1);
}

.links {
  display: flex;
  gap: 20px;
}
